.image {
    width: 300px;
    height: 400px;
}

.text-muted2{
    height: 320px;
    background-color: rgba(50, 90, 40, 1);
    color: rgb(223, 222, 222) !important;
}

.text-center2{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}

.container2{
    margin: 0px;
    padding-bottom: 0px;
    padding-right: 65px;

}


.cardColums {
    margin: 0px;
    padding: 0px;
}