
.nav{
  background-color: rgba(50, 90, 40, 1);
  height: 100px;
}
.logo{
  height: 9rem;
}
.item{
  font-size: larger;
  color: #7D5A50;

  margin-top: 4rem;
  margin-left: 2.5rem;

}
.item:hover{
  color:#B6C867;
  transform: scale(1.5); 
}
.brand{
  margin-top: 4.2rem;
  color: #7D5A50;
}
.div{
  background-color: #F0EBCC;
}
.foot{
  background-color: #F0EBCC;
  color: #fff;
  margin-top: 1000px;
}
.logo{
  height: 4rem;
  padding-left: 30px;
}
.item{
  font-size: larger;
  color: #7D5A50;

  margin-top: 4rem;
  margin-left: 2.5rem;

}
.item:hover{
  color:#B6C867;
  transform: scale(1.5); 
}
.brand{
  margin-top: 4.2rem;
  color: #7D5A50;
}
.div{
  background-color: #F0EBCC;
}
.foot{
  
  background-color: rgba(50, 90, 40, 1);
  text-align: center;
  padding: 1rem;
  /* margin-top: 60rem; */
  
}

.par{
  background-color: rgba(50, 90, 40, 1) ;
  text-align: left;
}

.link{
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: rgba(50, 90, 40, 1);
  transition: all 0.2s ease-out;
  font-size: 16px;
  border-style: solid;
  border-color:rgba(50, 90, 40, 1);
  font-family: 'Akaya Kanadaka', cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Quicksand', sans-serif;
}

.link:hover{
  color: white;
  transition: all 0.2s ease-out;
  box-sizing: border-box;
  /* color: chartreuse; */
  text-decoration: none;
  border-style: solid;
  border-color: #dabf49;
  border-radius: 5px;
}


.itm{
  color: white;
  text-decoration: none;
  padding-top: 30px;
  padding-left: 40px;
  background: rgba(50, 90, 40, 1);
  transition: all 0.2s ease-out;
}
.itm:hover{
   color: seashell;
   transition: all 0.2s ease-out;
   box-sizing: border-box;
   text-decoration: none;
   
}

.logoo {
  height: 6rem;
  background-color:rgba(50, 90, 40, 1) ;
  justify-self: start;
  padding-left: 20px;
}

.navbar-logo {
  color: #fff;
  background: rgba(50, 90, 40, 1);
  justify-self: start;
  /* padding-left: 5px; */
  padding-top: 15px;
  padding-right: 190px;
  cursor: pointer;
  /* font-family: "Futura-CondensedExtraBold", sans-serif; */
  font-size: 28px;
  font-family: 'Caveat', cursive;
font-family: 'Pacifico', cursive;
  text-decoration: none;
  /* font-family: 'Caveat', cursive; */
  /* font-family: 'Caveat', cursive; */
  /* height: 5rem; */
}

.nav-bar-group{
  padding: 0px;
  margin: 0px;

}

.bu {
    padding-left: 20px;
    margin-left: 0px;
}

.btn {
  margin-left: 0px;
  background-color: #FA9905;
  margin-top: 23px;
  border-color: #FA9905;
  transform: 0.3s;
  width: 90px;
  font-family: 'Akaya Kanadaka', cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Quicksand', sans-serif;
}


.btn:hover{
  transform: 0.3s;
  color:  #FA9905;
  background-color: white;
  border-color:  #FA9905;
}

.NavbarItems{
  width: 100%;
}